h1.title-form-contact{
    font-size: 3em;
    margin: 0.67em 0;
}

.contact-popup form input {
    margin: 0.5rem 0 1rem 0;
    padding: 0.2 rem;
}

.contact-popup form {
    padding: 20px;
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
}

#form-contact label{
    font-size: 2.5em;
}

#form-contact input[type='email']{
    height: 60px;
    font-size: 2.5em;
}

#form-contact textarea {
    height: 200px;
    margin: 0.5rem 0 1rem 0;
    padding: 0.2 rem;
    font-size: 2.5em;
}



#form-contact input[type='submit']{
    cursor: pointer;
    height: 80px;
    font-size: 3em;
}