h1{
    font-size: 3em;
    margin: 0.67em 0;
}

.container-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
    color: white;
    background-color: var(--black-olive-smoke);
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}
#param-compte{
    display: grid;
    place-items: center;
}
/* .contact-popup{} */
.hidden-edite-account-profil-popup {
    display: none !important;
}
.text-links-accounts{
    font-size: 35px;
    margin-right: 5px;
}

.container-settings-links{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.edite-account-popup {
    position: relative;
    width: 80vw;
    background-color: var(--black-olive);
    display: grid;
    place-items: center;
}

.line-settings-links{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    
}
.settings-links-account{
display: flex;
align-items: center;
justify-content: flex-end;
}

.container-button-edit-popup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}





