.showcase {
    width: auto;
    height: 50vh;
    margin: 1rem;
    background-color: var(--sugar-plum);
    display: grid;
    place-items: center;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: -6px 7px 5px -5px rgba(0,0,0,0.75);
}