/* General */

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--black-olive);
  font-family: OpenDyslexic-Bold;
}

#react-target,
.app {
  height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Main */
main {
  flex: 1;
  margin-top: 10vh;
  background-color: var(--sugar-plum-light);
  text-align: center;
}
/* Footer */
