:root {
    --black-olive: rgb(56, 61, 59);
    --black-olive-smoke: rgba(56, 61, 59, 0.7);
    --tumbleweed: rgb(216, 164, 143);
    --sugar-plum: rgb(145, 77, 118);
    --sugar-plum-light: rgba(145, 77, 118, 0.80);
    --blue-munsell: rgb(59, 142, 165);
    --opal: rgb(163, 196, 188);
}

.box-shadow-windows{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.box-shadow-windows-up{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.native-radius{
    border-radius: 3px;
}