:root {
    --black-olive: rgb(56, 61, 59);
    --tumbleweed: rgb(216, 164, 143);
    --sugar-plum: rgb(145, 77, 118);
    --sugar-plum-light: rgba(145, 77, 118, 0.80);
    --blue-munsell: rgb(59, 142, 165);
    --opal: rgb(163, 196, 188);
}